@media screen and (max-width : 805px){
    .header{
       position: fixed;
       left : 0% ;
       top : 0%;
       bottom: 0%;
       flex-direction: column;
       background-color: rgb(221, 77, 101);
       width: 50%;
       border-radius: 10px;
       text-align: center;
       transition: 0.3s;
        box-shadow: 0 10px 27px ; 
        height: 100%;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        position: fixed;
        visibility:visible;
        margin-top: 2px;
        padding: 0;
    }

    
    #cross{
        display:initial ;
        cursor: pointer;
        position: fixed;
        visibility: visible;
    }
    .feature1{
        display: inline-block;
        left: 0;
        margin-top: 20px;
    }

    .detail {
        margin: 0%;
        left: 0%;
        padding: 0;
        margin-bottom: 20px;
    }

    .info{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;
        scroll-behavior: smooth;
    }
}

 @media screen  and (max-width : 530px){
    .div{
        height: 90%;
        width: 80%;
        font-size: medium;
    }

    .container{
        margin-top : 0;
        padding: 0;
    }
 }

@media screen  and (max-width : 480px){

    form{
        text-align: left;
    }

    form input{
        width: max-content;
    }

}

@media screen and (max-width : 380px) {

    
    form{
        margin: 0;
        padding: 0;
        text-align: left;
        height: fit-content;
    }
    .div{
        width: 10rem;
        height: 100px;

    }

    .total_amount i{
        font-size: medium ;
    }

    #results{
        width: max-content;
    }

    form input{
        width: 150px;
        font-size: medium;
    }

    .container{
        text-align: left;
    }

     h2{
        font-size: medium;
    }

    .header{
        width: 100%;
    }
}