*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box ;
}

body{
    background-color: #ffccf1;
    color: #7723c4;
}

.main-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    margin: 10px;
}

.profile{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 620px;
    border: 4px solid #fff;
    width: 17%;
    background-color: #ffffffa1;
    opacity: 0.8;
    border-radius: 25px;
}

.info{
    padding : 20px;
    height: 620px;
    border: 4px solid #fff;
    width: 75%;
    background-color: #ffffffa1;
    opacity: 0.8;
    border-radius: 25px;
    margin-left: 15px;
}

/* Profile Panel */
.feature1{
    display: flex;
    justify-content: center;
}

.circle{
    background-image: url("/expenseManage_bdcoeTask1/images/girl_female_woman_person_people_avatar_icon_230018.png");
    background-size: cover;
    background-color: #fff;
    height : 4rem ;
    width: 4.5rem;
    border : 4px solid #fff ;
    border-radius: 50%;
    
}

.detail{
    padding: 10px;
}

h4 , p{
    color: #000;
    margin-top: 5px ;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    height: 200px;
}


.opt-bar{
    display: flex;
    padding: 0.5rem 0rem;
    margin: 0.5rem 0rem;
}

.opt-bar a {
    text-decoration: none;
    color: #000;
}

.opt-bar i{
    margin: 10px;
}

.opt-bar :hover{
    color: #451472;
    font-weight: bolder;
}

/* Info Panel */
h1{
    font-family:  'Nunito', 'sans-serif';
}

.foot-panel{
    display: flex;
    margin-top: 400px;
    height: 250px;
    width: 100%;
    justify-content: space-evenly;
}

.foot-panel div{
    height: 8rem ;
    width: 25%;
    border: 5px solid #fff;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}