*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background-color: #615d60;
    color: #7723c4;
}

body{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    margin: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 640px;
    border: 4px solid #fff;
    width: 20%;
    background-color: #ffffffa8;
    opacity: 0.8;
    border-radius: 25px;
}

.expense{
    padding : 20px;
    height: 640px;
    border: 4px solid #fff;
    width: 80%;
    background-color: #ffffffa8;
    opacity: 0.8;
    border-radius: 25px;
    margin-left: 15px;
}

/* Profile Panel */

.feature1{
    display: flex;
    justify-content: center;
}

.circle{
    background-image: url("/expenseManage_bdcoeTask1/images/girl_female_woman_person_people_avatar_icon_230018.png");
    background-size: cover;
    background-color: #fff;
    height : 4rem ;
    width: 4.5rem;
    border : 4px solid #fff ;
    border-radius: 50%;
    
}

.detail{
    padding: 10px;
}

h4 , p{
    color: #000;
    margin-top: 5px ;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    height: 200px;
}


.opt-bar{
    display: flex;
    padding: 0.5rem 0rem;
    margin: 0.5rem 0rem;
}

.opt-bar a {
    text-decoration: none;
    color: #000;
}

.opt-bar i{
    margin: 10px;
}

.opt-bar :hover{
    color: #451472;
    font-weight: bolder;
}

.hamburger{
    display: none;
    padding: 0;
    margin-top: 10px;
    left : 20px ;
}

#cross{
    display: none;
    padding: 0;
    margin-top: 10px;
    left: 20px;
    color: #7723c4;
}

/* Expense Section */

.total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.total_amount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 0.5rem;
    padding: 10px;
}

#amt{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input , button{
    margin-top: 15px;
    height: 50px;
    font-size: large;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 10px;
}

input{
    width: 90%;
}
button{
    width: 25%;
    
}

@media screen and (max-width : 805px){
    .header{
       position: fixed;
       left : 0% ;
       top : 0%;
       bottom: 0%;
       flex-direction: column;
       background-color: rgb(213, 207, 208);
       width: 50%;
       border-radius: 10px;
       text-align: center;
       transition: 0.3s;
        box-shadow: 0 10px 27px ; 
        height: 100%;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        position: fixed;
        visibility:visible;
        margin-top: 2px;
        padding: 0;
    }

    
    #cross{
        display:initial ;
        cursor: pointer;
        position: fixed;
        visibility: visible;
    }
    .feature1{
        display: inline-block;
        left: 0;
        margin-top: 20px;
    }

    .detail {
        margin: 0%;
        left: 0%;
        padding: 0;
        margin-bottom: 20px;
    }

    .expense{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;
        scroll-behavior: smooth;
    }
}

@media screen and (max-width : 380px) {
    .header{
        width: 100%;
    }
}